<div class="jumbotron text-center">
	
	<p>{{ message }}</p>
	<img src="img/page/page6.png" alt="modal">

	<!-- PAGE -->
	<div class="lien_modal">
		<a class="modal1" href="#75"><span>modal</span></a>
		<a class="modal2" href="#77"><span>modal</span></a>

		<a class="modal3" href="#item1"><span>modal</span></a>
		<a class="modal4" href="#item2"><span>modal</span></a>
		<a class="modal5" href="#item3"><span>modal</span></a>
		<a class="modal6" href="#item4"><span>modal</span></a>
		<a class="modal7" href="#item5"><span>modal</span></a>
		<a class="modal8" href="#item6"><span>modal</span></a>
	</div>


</div>