<div class="jumbotron text-center">
	
	<p>{{ message }}</p>
	<img src="img/page/page27.png" alt="modal">

	<!-- PAGE -->
	<div class="lien_modal">
		<a class="ps7" href="#ps2"><span>modal</span></a>

		<a class="ps1" href="#ps1"><span>modal</span></a>
		<a class="ps2" href="#ps2"><span>modal</span></a>
		<a class="ps3" href="#ps3"><span>modal</span></a>
		<a class="ps4" href="#ps4"><span>modal</span></a>
		<a class="ps5" href="#ps5"><span>modal</span></a>
		<a class="ps6" href="#ps6"><span>modal</span></a>
		
	</div>


</div>